/* CSS Document */

* {
margin:0;
padding:0
} 

body
{
margin:0px;
background-image:url(../images/banner_bg.jpg);
background-repeat:repeat-x;
background-color:#FFF;
font-family:'Helvetica', Arial, Verdana, sans-serif;
}

img {
border: none;
}

h1, h2, h3, h4 {
font-style: normal;
text-decoration: none;
text-transform: none;
letter-spacing: 0.03em;
word-spacing: 0.003em;
line-height: 1.2;
}

h1 {
font-family: 'Goudy Bookletter 1911', serif;
text-shadow: 1px 1px 1px #555;
font-weight: 700;
font-size: 80px;
color: #FFF;
}

h2 {
font-family: 'Goudy Bookletter 1911', serif;
text-shadow: 1px 1px 1px #555;
font-weight: 700;
font-size: 60px;
color: #FFF;
}

h3 {
font-family: 'Droid Sans', serif;
font-weight: 400;
font-size: 40px;
color: #555;
}

h4 {
font-family: 'Droid Sans', serif;
font-weight: 400;
font-size: 20px;
color: #555;
}

a, a:link, a:visited, a:active {
color: inherit;
font: inherit;
}

#dvmaincontainer
{
width:900px;
margin:0px auto;
}

#dvtopcontainer,
#dvbodycontainer,
#dvfootercontainer
{
width: 900px;
float:left;
}

#dvtopcontainer {
height: 140px;
overflow: hidden;
}

#dvtopcontainer #dvlogocontainer
{
float:left;
width:324px;
margin:0px;
padding:0px 71px 0px 0px;
}

#dvtopcontainer #dvnavicontainer
{
float:right;
width:395px;
margin:0px;
padding:0px;
}

#dvtopcontainer #dvnavicontainer img
{
float:left;
}

#dvbodycontainer #dvbannercontainer {
height: 180px;
}

#dvbodycontainer #dvcontentcontainer {
margin-top:20px;
}

#dvfootercontainer {
}

#foottop p
{
float:left;
font-size:12px;
text-align:left;
color:#555;
}



/*- Menu -*/ 


#tabs1 {
      float:left;
	  background-image:url(../images/navi_bg.jpg);
      font-size:15px;
      line-height:normal;
	  font-family:Helvetica, sans-serif;
	  font-weight:bold;
	  padding-top:10px; 
	  padding-bottom:5px;
	  height:26px;
	  margin:0px;
	  line-height:normal;
	   /*   height:100%;Fix for MSIE peekaboo bug */ 
      }
    #tabs1 ul {
	  margin:0;
	 list-style:none;
	  float:left;
	 padding:0px;
      }
    #tabs1 li {
      display:inline;
      margin:0;
      padding:0;
	  voice-family:"\"}\"";
	  line-height:16px;
	  height:25px;
	  float:left;  
      }
    #tabs1 a {
      float:left;
      /* background:url("../images/tableft1.gif") no-repeat left top;*/
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;  
      }
    #tabs1 a span {
      float:left;
      display:block;
      /* background:url("../images/tabright1.gif") no-repeat right top; */
	  color:#2C1C0F;
      padding:3px 9px 6px 5px; 
	  voice-family:"\"}\"";
	  padding-top:2px;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabs1 a span {float:none;}
    /* End IE5-Mac hack */
    #tabs a:hover span {
      color:#FFFFFF;
	  
      }
    #tabs1 a:hover {
      background-position:0% -42px;
	   color:#60574f;
	   text-decoration: underline;
      }
    #tabs1 a:hover span {
      background-position:100% -42px;
	   color:#60574f;
	   text-decoration: underline;
      }

      #tabs1 #current a {
      	background-position:0% -42px;
		 color:#92877f;
      }
      #tabs1 #current a span {
      	background-position:100% -42px;
		 color:#92877f;
      }