/* CSS Document */

* {
margin:0;
padding:0
} 

body
{
margin:0px;
background-image:url(../images/banner_bg.jpg);
background-repeat:repeat-x;
background-color:#FFF;
font-family:'Helvetica', Arial, Verdana, sans-serif;
}

img {
border: none;
}

h1, h2, h3, h4
{
font-style: normal;
text-decoration: none;
text-transform: none;
letter-spacing: 0.02em;
word-spacing: 0em;
line-height: 1.2;
}

h1 {
font-family: 'Goudy Bookletter 1911', serif;
text-shadow: 1px 1px 1px #555;
font-weight: 700;
font-size: 80px;
color: #FFF;
}

h2 {
font-family: 'Goudy Bookletter 1911', serif;
text-shadow: 1px 1px 1px #555;
font-weight: 700;
font-size: 60px;
color: #FFF;
}

h3 {
font-family: 'Droid Sans', serif;
font-weight: 400;
font-size: 30px;
color: #2687da; /* #555; */
margin: 20px 0 10px 0;
}

h4 {
font-family: 'Droid Sans', serif;
font-weight: 400;
font-size: 20px;
color: #555;
margin: 10px 0;
}

#banner h4
{
margin: 10px 0;
}

a, a:link, a:visited, a:active {
color: inherit;
font: inherit;
text-decoration: none;
}

/*** Containers ***/

#main
{
width:900px;
margin:0px auto;
}

#top,
#body,
#footer
{
width: 900px;
float:left;
}

/*** TOP CONTAINER ***/

#top {
height: 140px;
overflow: hidden;
}

#top #logo
{
float:left;
margin-top: 9px;
height: 108px;
width: 350px;
background-image: url(../images/logo_web.png);
position: absolute;
z-index: -1;
}

#top #navigation
{
float:right;
margin:0px;
padding:0px;
}

#top #navigation #navigation_left,
#top #navigation #navigation_right
{
float: left;
height: 41px;
width: 11px;
}

#top #navigation #navigation_left
{
background: url(/site_media/images/navi_left.png) no-repeat;
}

#top #navigation #navigation_right
{
background: url(/site_media/images/navi_right.png) no-repeat;
}

#dvtopcontainer #navigation img
{
float:left;
}

/*** BODY CONTAINER ***/

#body #banner
{
height: 160px;
padding-top: 20px;
}

#body #banner .project_logo
{
float: left;
}

#body #banner .project_logo img
{
height: 145px;
width: 145px;
margin-right: 20px;
}

#body #content
{
margin-top: 20px;
}

#body #content .show_project
{
float: left;
width: 418px; /* 2*(408+2*(1+10))+10 = 900 */
height: 465px;
background-color: #F8F8F8;
border: 1px solid #EEE;
-moz-border-radius: 10px;
border-radius: 10px;
margin-right: 10px;
margin-bottom: 10px;
padding: 10px;
}

#body #content .show_project .show_project_header
{
height: 120px;
background-color: #F3F3F3;
background: -moz-linear-gradient(100% 100% 90deg, #EEE, #F9F9F9);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9F9F9), to(#EEE));
-moz-border-radius: 10px;
border-radius: 10px;
margin: -10px;
overflow: hidden;
}

#body #content .show_project .show_project_header h3
{
   /* To prevent the title from dropping down below the image */
margin-left: 120px;
}

#body #content .show_project .show_feature_summery
{
height: 110px;
border-top: 1px solid #EEE;
margin-top: 10px;
}

#body #content .show_project .show_project_header .project_logo
{
float: left;
}

#body #content .show_project .show_project_header .project_logo img
{
height: 100px;
width: 100px;
margin: 10px;
}

#body #content .show_feature
{
height: 155px;
border: 1px solid #0000FF;
float: left;
width: 448px; /* 2*(448+2)=900 */
}

/*** FOOTER CONTAINER ***/

#footer {
height: 50px;
}

#footer #footertop p
{
float:left;
font-size:12px;
text-align:left;
color:#555;
}


/*** Menu ***/ 

#tabs1 {
      float:left;
	  background-image:url(../images/navi_bg.jpg);
      font-size:15px;
      line-height:normal;
	  font-family:Helvetica, sans-serif;
	  font-weight:bold;
	  padding-top:10px; 
	  padding-bottom:5px;
	  height:26px;
	  margin:0px;
	  line-height:normal;
	   /*   height:100%;Fix for MSIE peekaboo bug */ 
      }
    #tabs1 ul {
	  margin:0;
	 list-style:none;
	  float:left;
	 padding:0px;
      }
    #tabs1 li {
      display:inline;
      margin:0;
      padding:0;
	  voice-family:"\"}\"";
	  line-height:16px;
	  height:25px;
	  float:left;  
      }
    #tabs1 a {
      float:left;
      /* background:url("../images/tableft1.gif") no-repeat left top;*/
      margin:0;
      padding: 5px 15px;
      text-decoration:none;  
      }
    #tabs1 a:hover {
      background-position:0% -42px;
	   color:#60574f;
	   text-decoration: underline;
      }
      #tabs1 #current a {
      	background-position:0% -42px;
	 color:#92877f;
      }
/*
#papir_bg
{
background:url(../images/papir.jpg);
background-repeat: repeat-x;
background-position: 0 5px;
height:133px;
width:100%;
z-index:-2;
position:absolute;
}
*/