<div class="featurebox">
  <h4><a href="{% url fundrBase.views.feature feature.id %}">{{feature.name}}</a></h4>
 <p>
 {{feature.description}}
 </p>
 <p>
 {% if feature.activeStatus.status != 'R' %}
 Raised <strong>{{feature.currentFund}} </strong> out of  <strong>{{feature.activeStatus.goal}} </strong> with a donation average donation on  <strong>{{feature.averageFund}} </strong>
 <br>
 That is <strong>{{feature.percentageFunded}}%</strong>!
 </p>
 <p>
 <a href="/feature/{{feature.id}}">Support this feature</a>
 </p>
 {% else %}
 <br />
 Requested by <strong>{{feature.user.username}}</strong> who is willing to give <strong>{{feature.currentFund}} </strong>
 <br />
 <br />
 </p>
 {% endif %}
</div>
