{% extends "site_base.html" %}

{% block content %}

<p>
{{project.description}}
</p>
<h3>Features</h3>
{% for feature in project.features %}
{% include "feature.html" %}
{% endfor %}

	{% endblock %}   



{% extends "site_base.html" %}

{% block banner %}
  <h2><a href="/projects/{{project.id}}" >{{project.name}}</a></h2>
  <h4>{{project.description}}</h4>
{% endblock %} 

{% block content %}
  <h3>Features</h3>
  {% for feature in project.features %}
  {% include "feature.html" %}
  {% endfor %}
{% endblock %}