{% extends "site_base.html" %}

{% block banner %}
  <div class="project_logo">
   <img src="/site_media/{{project.image}}" />
  </div>
  <h2>{{project.name}}</h2>
  <h4>{{project.description}}</h4>
{% endblock %} 

{% block content %}
  <h3>Features</h3>
  <a href="{% url fundrBase.views.request_feature project.id %}">Request new feature</a><br />
  {% for feature in project.features %}
    {% include "partials/show_feature.html" %}
  {% endfor %}
  <h3>Members</h3>
  {% for membership in project.memberships %}
    {{membership.user.username}} - {{membership.access}}
  {% endfor %}
{% endblock %}
