<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>AppFuel.org {% block title %}{{ title }}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/site_media/css/style.css" rel="stylesheet" type="text/css" />
<link  href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911:regular" rel="stylesheet" type="text/css" >
<link  href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" rel="stylesheet" type="text/css" >
<link rel="stylesheet" href="/site_media/css/ui.progress-bar.css">
{% block head %}
{% endblock %}

</head>
<body>
<div id="main">
  <div id="top">

    <div id="logo">
    </div>

    <div id="navigation">
      <div id="navigation_left">
      </div>
      <div id="tabs1" >
        <ul>
          <li id="current"><a href="/">Home</a></li>
          <li><a href="/projects/discover">Discover</a></li>
          <li><a href="/projects/create">Start Project</a></li>
          <li><a href="/about">About Us</a></li>
          {% if user.is_authenticated %}
          <li><a href="/accounts/profile/">Profile</a></li>
          <li><a href="/accounts/logout/">Logout</a></li>
          {%else%}
          <li><a href="/accounts/login/">Login</a></li>
          {% endif %}
        </ul>
      </div>
      <div id="navigation_right">
      </div>
    </div> <!-- navigation div ends here -->
  </div> <!-- top ends here-->

  <div id="body">
    <div id="banner">
      {% block banner %}
      {% endblock %}
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <div id="footer">
    <div id="footertop">
      <p></p>
    </div>
  </div>

</div>
</body>
</html>
